@import url('https://fonts.googleapis.com/css?family=Roboto:900');
@font-face {
    font-family: Alien-Encounters-Regular;
    src: url(media/fonts/Alien-Encounters-Regular.ttf);
    font-weight: bold;
  }
@font-face {
    font-family: Streamster;
    src: url(media/fonts/Streamster.ttf);
    font-weight: bold;
}
body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    
  }
.header{
    display: flex;
    
    justify-content: space-between;
    align-items: center;
    padding-left: 100px;
    padding-right: 200px;
    padding-top: 5px;
    padding-bottom: 5px;
    
}
.logo-box {
    margin: 1%;
    position: relative;
}

.logo-text {
    position: absolute;
    top: 39px;
    left: -14px;
}
.logo-box img{
    border-radius: 100%;
    width: 100px;
    height: auto;
}
li{
    background-color: #f222ff;
    border-radius: 5px;
    padding-top: 3px;
    padding-left: 3px;
    padding-right: 3px;
}

.first-box{
    display: flex;
    gap:20px;
    padding-top: 5px;
    flex-direction: row;
    flex-wrap: wrap;
}
.first-box-header{
    font-size: 48px;
    font-weight: 900;
    margin-top: 0;
    margin-bottom: 0;
}
.first-box-text{
    font-size: 18px;
    color: #e5e7eb;
}
.first-box div button{
    padding-top:10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #50cccc;
    color: #f9faf8;
    font-weight: 900;
    font-size: 18px;
    border: none;
    border-radius: 10px;
}
.first-box div{
   
    margin-bottom: 100px;
    flex: 1 ;
}
.main-image{
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
}
.main-image img{
    width: 100%;
    height: auto;
}
.header,.first-box{
    padding-left: 100px;
    padding-right: 200px;
}
.header p{
    font-family: 'Alien-Encounters-Regular', sans-serif;
    font-size: 24px;
    font-weight: 900;
    margin: 0;
    padding: 0;
}
.header,.first-box,.footer{
    color: #f9faf8;
    background-color: #151515;
}
.header ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 20px;
}
.second-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f222ff;
    padding-top: 50px;
    padding-bottom: 100px ;
}
.second-box h1{
    color: #ffd319;
   
}
.images{
    display:flex;
    flex-direction: row;
    gap: 50px;
    
}
.second-box .images div{
   align-items: center; 
   text-align: center;
   width: 170px;
   color: #1f2937;
   font-size: 18px;
}
.images-style{
    border-color:#8c1eff;
    border-width: 2px;
    border-style: ridge;
    max-width: 98%;
    height: 150px;
    border-radius: 10px;
    margin-bottom: 10px;
}
.third-box{
    display: flex;
    flex-direction: row;
    background-color: #e5e7eb;
    color:#1f2937;
    padding-right: 100px;
    padding-left: 100px;
    padding-top: 100px;
    padding-bottom: 100px;
    justify-content: center;
    gap:20px; 
}
.third-box-second{
    padding-top: 100px;
}
.third-box-second p{
    background-color:#50cccc;
}
.third-box-first p{
    background-color:#ffd319;
}
.author-two{
   margin-left: 70px;
}
.author-one{
    margin-left: 200px;
    margin-right: 0;
}
.author-one,.author-two{
   
    font-size: 20px;
    font-weight: 900;
    margin-top: 0; 
}
.quote-one,.quote-two{
   
   font-size: 30px;
   margin-bottom: 5px;
}
.fourth-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
    /*background-color: #ff901f;*/
    background-color: #e5e7eb;
   
}
.fourth-box div div{
    border-radius: 20px;
}
.sign-box{
    display: flex;
    flex: 1;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 20px;
    flex-direction: row; 
    justify-content: space-between;
    align-items: center;
    
}
   
.button-box{
    margin: 0%;
    position: relative;
    width: 100px;
    height: auto;
    border-radius: 5%;
    background-color:transparent; 
    border-color:transparent;
    padding:0px;
}
.button-text{
    position: absolute;
    top: 20px;
    left: 10px;
    color: #e0dbe0;
    
    
    font-size :21px ;
    font-weight: 900;
    

}
.button-box img{
    
    height: 100%;
    width: 100%;
    margin: 0;
    padding:0;
    border-radius: 10%;
    
    
    
}
.sign-text p{
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-weight: 900;
}
.sign-text{
    color: white;
}
.sign-box{
    
    background-size: 500% 500%;
    background-image: linear-gradient(
          -45deg, 
          rgb(0, 203, 253) 0%, 
          rgba(87,111,230,1) 25%, 
          rgba(152,68,183,1) 51%, 
          rgba(255,53,127,1) 100%
    );  
    animation: AnimateBG 5s ease infinite;
  }
  
  @keyframes AnimateBG { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
  }
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    box-sizing: border-box;

}

.waviy {
    position: relative;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #00000033);
    font-size: 18px;
}
.waviy span {
    font-family: 'Roboto', cursive;
    position: relative;
    display: inline-block;
    color: #fff;
    text-transform: uppercase;
    animation: waviy 1s infinite;
    animation-delay: calc(.1s * var(--i));
    
    
}
a{
    text-decoration-line:none;
}
@keyframes waviy {
    0%,40%,100% {
      transform: translateY(0)
    }
    20% {
      transform: translateY(-20px)
    }
}

